<div class="pdf-container">
	<div class="toolbar">
		<button mat-fab  [ngClass]="" (click)="changePage(cpage-1)" id="prev"><<</button> 
    Page   <input (keyup)="changePage(cpage)" [(ngModel)]="cpage">
    <button mat-fab  (click)="changePage(cpage+1)" id="next" >>></button> 
    <button mat-fab  [mat-dialog-close]="signed" id="close" >Close</button> 
    All Signed : {{allSigned()}} || Page Signed: {{pageNeedtoSign() - signedPages()}} / {{pageNeedtoSign()}}
    <button mat-raised-button (click)="save()" [disabled]="!allSigned()">Save and Next</button>

        <button mat-mini-fab (click)="scale = scale + 0.1" >+</button>
        <button mat-mini-fab (click)="scale = scale - 0.1"  >-</button>
        <button (click)="getPDF()">Merge signatures to pdf in frontend</button>
  </div>
 
  <div id="pdfview" [ngStyle]="{'transform': 'scale(' + scale + ')'}">
    <pdf-viewer [src]="src"
        [original-size]="false"
        (after-load-complete)="callBackFn($event)"
        [show-all]="false"
        [(page)]="cpage"   
        [autoresize]="true"
        
        #vc   
        style="display: block; width: 960px; height: 80vh" >
    </pdf-viewer>   
  </div>

  <div style="display:flex; flex-direction: row;">
    <div *ngFor="let i of signatures" >
         {{i.sign.meta | json}}
        <img *ngIf="i.sign.imagedata" [src]="i.sign.imagedata" class="sign" />
    </div>
  </div>
</div>