<div class="pdf-container">
	<div class="toolbar">
		<button mat-raised-button  [ngClass]="" (click)="changePage(cpage-1)" ><<</button> 
    Page   <input (keyup)="changePage(cpage)" [(ngModel)]="cpage">
    <button mat-raised-button  (click)="changePage(cpage+1)"  >>></button> 
    <button mat-raised-button  [mat-dialog-close]="signed"  >Close</button> 
    <button mat-raised-button (click)="showImages()">Show all signature</button>
  </div>
 
  <div id="pdfview">
    <pdf-viewer [src]="src"
          [original-size]="false"
                (after-load-complete)="callBackFn($event)"
                [show-all]="false"
                [(page)]="cpage"   
         [autoresize]="true"
                #vc   
                style="display: block; width: 960px; height: 80vh"
                      
    >
    </pdf-viewer>   
  </div>

  <div style="display:flex; flex-direction: row;">
    <div *ngFor="let i of signatures" >
         {{i.sign.meta | json}}
        <img *ngIf="i.sign.imagedata" [src]="i.sign.imagedata" class="sign" />
    </div>
  </div>
</div>