<div [ngStyle]="{'display': display?'':'none'}">
	<div id="spdiv" [ngClass]="signType" [ngStyle]="{'display': !signed && imagedata?'':'none'}">
		<signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">

		</signature-pad>

		<div id="actionbar">
			<button mat-raised-button (click)="signaturePad.clear();">Clear</button>  
		  <button mat-raised-button (click)="signed = true;done();">Sign</button>   
      
      ({{signType}})
    </div>
   
	</div>

 
<div class="signField" [ngStyle]="{'background-color': getColor(meta.fieldname), 'width': getWidth(meta.rect), height: getHeight(meta.rect)}"
(click)="imagedata='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='">
<div id="signImage" [ngStyle]="{'display': signed?'none':''}"  >Sign Here</div>
  <div id="signImage" [ngStyle]="{'display': signed?'':'none'}"  >
  <img [src]="(imagedata)" (click)="signed = false;" class="signature"/>
  <div id="watermark">COPY</div>
  </div>
</div>
</div>