#spdiv {
  border: 1px solid;
  width: 500px;
  height: 350px;
  position: relative;
  left: 0px;
  top:  0px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJVkrFm5q_yToMz7UPWKXcXeW5yOFAZHtxqwbZjW9QbzaUbWlMZg);
  background-repeat: repeat;
  z-index: 30;
  background-color:white;
}

#close {
  position: relative;
  top: 1px;
   
}

.signField {
  position: absolute;
  left: 0px;
  top: 0px;
  
}
#actionbar {
  width: 100%;
  height: 50px;
  background-color: white;
}

#imgOverlay {
  position: absolute;
  text-align: center;
  transform: rotate(-30deg);
  color: red;
  font-family: 'arial';
}

#signImage {
  position: absolute;
  text-align: center;
  color: white;
}

.holder {
  background-color: red
}

.insured {
  background-color: blue;
}

.normal {
  background-color: gray
}

.signature {
  position: absolute;
  width: 200px;
  top: -50px;
  
}

 
 