#spdiv {
  border: 1px solid;
  width: 300px;
  height: 150px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJVkrFm5q_yToMz7UPWKXcXeW5yOFAZHtxqwbZjW9QbzaUbWlMZg);
  background-repeat: repeat;
}

#imgOverlay {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

#signImage {
    position: relative;
  text-align: center;
  color: white;
}

.holder {
  background-color: red
}

.insured {
  background-color: blue;
}

.signature {
  width: 200px;

}

button {
  background-color: gray
}

.sampleoverlay {

}